input {
  width: 80%;
}
select {
  width: 100px;
}

input, select {
  margin: 10px;
}

h1 {
  font-size: 48px;
}

h1, #search-block p {
  color: white;
  text-align: center;
}

h2 {
  font-size: 16px;
}
a {
  text-decoration-line: none;
  color: black;
}

.book-category {
  font-size: 12px;
  color: gray;
}
.book-author
{
  font-size: 12px;
  color: gray;
}
img {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 5px 2px gray;
}

#view-block-books {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.book-panel {
  background-color: gainsboro;
  margin: 10px;
  width: 200px;
  height: 300px;
  padding: 10px;
}

#search-block {
  position: relative;
  min-width: 320px;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}
#view-block {
  position: relative;
  background-color: white;
  width: 100%;
}

#view-block-p-results {
  text-align: center;
}